<%= form_with model: message do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% message.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.rich_text_area :content %><br>
    <% message.errors.full_messages_for(:content).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>