<div class="p-28 h-full min-w-0 overflow-x-hidden max-h-screen relative">
  <div class="w-4/5 max-w-screen-lg m-auto">
    <h3 class="text-lg leading-6 font-medium text-gray-900">Edit Message</h3>
    <%= form_with(model:@message ,url:project_message_path(@project , @message) , class:'space-y-8 divide-y divide-gray-200') do |form| %>
      <div class="space-y-8 divide-y divide-gray-200">
        <div>
          <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
            <div class="sm:col-span-4">
                <%= form.label :title, class: "block text-sm font-medium text-gray-700" %>
              <div class="mt-1 flex rounded-md shadow-sm">
                <%= form.text_field :title, class:"flex-1  block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300" %>
              </div>
            </div>
            <div class="sm:col-span-6">
              <%= form.label :content, class:"block text-sm font-medium text-gray-700" %>
              <div class="mt-1">
                <%= form.text_area :content, class:"flex-1  block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300" , data:{controller:"markdown-editor"}%>
              </div>
            </div>
            <div class="sm:col-span-6">
              <%= form.label :status, class:"block text-sm font-medium text-gray-700" %>
              <div class="mt-1">
                <div class="flex">
                  <div class="mb-3 xl:w-96">
                    <%= form.select :status, ['public', 'draft'], selected: 'public' ,class: "flex-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300"%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pt-5">
        <div class="flex justify-end items-center">
         <%= link_to "Back", project_message_path(@project , @message)  , class:"theme-outline-btn mr-4"%>
         <%= form.submit 'Update', class:'theme-fill-btn' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
