<div class="px-28 py-10 h-full min-w-0 overflow-x-hidden max-h-screen relative">
  <div class="w-4/5 max-w-screen-lg m-auto">
    <h3 class="text-3xl font-medium leading-6 text-gray-900">New Message</h3>
    <%= form_with(model: @message , url:project_messages_path) do |form| %>
      <div class="space-y-8 divide-y divide-gray-200">
        <div>
          <div class="grid grid-cols-1 mt-6 gap-y-6 gap-x-4 sm:grid-cols-6">
            <div class="sm:col-span-4">
              <h2 contenteditable placeholder="untitled" 
                  class="w-full p-1 text-4xl focus:outline-none"></h2>
            </div>
              
            <div class="sm:col-span-6">
                <%= form.label :content, class:"block text-sm font-medium text-gray-700" %>
              <div class="mt-1">
                <%= form.text_area :content, class:"h-72 flex-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300", data:{controller:"markdown-editor"}%>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-5">
        <div class="flex justify-end">
          <%=link_to "返回", project_messages_path , class: 'theme-outline-btn mr-4'%>
          <%= form.submit '新增' , class: 'theme-fill-btn'%>
        </div>
      </div>
    <% end %>
  </div>
</div>
