<<<<<<< HEAD
<div class="relative h-full max-h-screen min-w-0 px-4 overflow-x-hidden md:p-28">
=======
<div class="relative h-full max-h-screen min-w-0 pt-16 overflow-x-hidden p-28">
>>>>>>> message版面調整
  <div class="w-4/5 max-w-screen-lg m-auto ">
    <div data-controller="dropdown">
      <button type="button" data-action="click->dropdown#toggle" class="fixed z-10 top-28 right-24"><%= icon_tag('fa-ellipsis fa-solid fa-xl dropdown-icon')%></button>
      <div data-dropdown-target="toggle" class="hidden dropdown-content" 
           data-transition-enter-active="transition ease-in-out"
           data-transition-enter-from="transform translate-x-32 opacity-0 scale-x-0"
           data-transition-enter-to="transform translate-x-0 opacity-100 scale-x-100"
           data-transition-leave-active="transition ease-in-out"
           data-transition-leave-from="transform translate-x-0 opacity-100 scale-x-100"
           data-transition-leave-to="transform translate-x-32 opacity-0 scale-x-0">
        <div class="flex items-center justify-end w-full px-1 py-2">
          <button type="submit" data-action="click->dropdown#hide" class="p-3"><%= icon_tag('fa-times fa-solid fa-lg p-2') %></button>
        </div>
        <%=link_to "Edit", edit_project_message_path(@project, @message), class: 'dropdown mt-2' %>
        <%=link_to "Delete", project_message_path(@project ,@message), method: "delete", data: { confirm: "Are you sure to delete?"}, class: 'dropdown' %>
        <%=link_to "Return", project_messages_path(@project), class: 'dropdown' %>
      </div>
    </div>
    <div class="relative w-full px-4 py-5 mx-auto justify-items-center">
      <div class="pb-3 text-center">
        <h1 class="text-5xl">
          <%= @message.title %>
        </h1>
      </div>
      <div class="py-10 text-xl font-normal text-gray-800">
        <p><%= markdown(@message.content) %></p>
      </div>
    </div>
    <div class="relative px-4 py-4" id="comment_area">
      <% @comments.each do |comment| %>
        <%= render "comments/comments" , comment: %>
      <% end %>
    </div>
      <div class="mb-5 border-t border-gray-300 " data-controller="comment">
        <button class="flex items-start w-full mt-5 text-2xl text-gray-400 cursor-text h-36" data-action="click->comment#typing" data-comment-target="commentbtn">Type here to add comment . . .</button>
        <%= render "comments/form" , comment:@comment%>
      </div>
  </div>
</div>
