<article>
  <div>
    <h3><%= @message.title%></h3>
  </div>
  <div>
    <p><%= @message.content%></p>
  </div>
  <ul>
    <li><%= link_to "Edit", edit_message_path(@message), method: :get, action: "edit"%></li>
    <li><%= link_to "Destroy", message_path(@message), method: :delete, data: { confirm: "Are you sure?"}%></li>
  </ul>
  <h2>Comments</h2>
    <%= render @message.comments %>
  <h2>Add a comment:</h2>
    <%= render 'comments/form'%>
</article>
