 <%= form_with(model: @content , url:project_chat_room_contents_path(@project), class:'flex') do |f| %>
  <div>
          <%= f.hidden_field :image, value: @content.cached_image_data %>
          <%= f.file_field :image %>
  </div>
          
  <div class="w-full">
          <%= f.text_field :text , placeholder: '請輸入訊息', class:'w-11/12 border-sky-500 border rounded-lg	'%>
  </div>
          
  <%= f.submit '送出' , data:{action:"click->chat-room-channel#remove_value"} , class:'rounded-lg bg-blue-300 px-2 py-0.5 text-sm'%>
<% end %>