<section class="max-w-3xl mr-auto ml-auto border-gray-500 border p-3 rounded-lg shadow-lg" data-controller="chat-room-channel" data-id="<%= @project.chat_room.id %>" > 
    <h2 class="text-xl font-semibold"><%= @project.title %>專案的聊天室</h2>
    <br>
    <section class="h-96 overflow-auto " data-chat-room-channel-target="contentbox" >
        <div id="content" class="m-4">
            <% @contents.each do |content|%>
            <div class="mt-5">
                <% if content.user != current_user.nickname %>
                <div class="w-max">
                    <span class="text-xs"><%= content.user %></span>
                    <div class="px-3 py-2 bg-gray-200 opacity-3 rounded-lg w-max">
                        <%= content.text %>
                    </div>
                </div>
                <% else %>
                    <div class="w-max ml-auto">
                        <span class="text-xs block"><%= content.user %></span>
                        <div class=" px-3 py-2 bg-gray-200 opacity-3 rounded-lg w-max">
                        <%= content.text %>
                    </div>
                    </div>
                <% end %>
            </div> 
            <% end %>
        </div>
        </section>
        <%= form_with(model: @content , url:project_chat_room_contents_path(@project), class:'flex' ) do |f| %>
            <div class="w-full">
                <%= f.text_field :text , placeholder: '請輸入訊息', class:'w-11/12 border-sky-500 border rounded-lg	'%>
            </div>
                
                <%= f.submit '送出' , data:{action:"click->chat-room-channel#remove_value"} , class:'rounded-lg bg-blue-300 px-2 py-0.5 text-sm'%>
            <% end %>
</section>





