<div class="overflow-x-hidden max-h-full rounded-lg h-full" data-controller="chat-room-channel" data-id="<%= @project.chat_room.id %>"> 
  <div id="content" class="sroll-content" data-chat-room-channel-target="contentbox">
    <div class="flex flex-col justify-end min-h-full items-stretch scroll-content">
      <div class="p-8">
        <div class="h-14 w-14 overflow-hidden rounded-full">
          <%= image_tag(@project.image_url || "logo_a_0" , class:"w-full h-full")%>
        </div>
        <div class="text-gray-500 text-xl py-4 font-medium">
          <h2>Welcome to <%= @project.title %>'s Chatroom</h2>
        </div>
      </div>
      <% @contents.each do |content|%>
          <%= render "chat_rooms/content" , content: %>
      <% end %>
    </div>
  </div>
</div>
<div class="pt-2">
  <%= render 'form' %>
</div>
