<nav class="flex bg-white border-theme-100 filter drop-shadow-sm border-b-2 h-14 p-1 ">
  <div class="w-full min-w-0 flex justify-between items-center h-7 my-2 ">
    <div class="relative items-center pl-4">
      <h2 class="text-xl font-semibold"><%= @other_user.nickname%></h2>
    </div>
    <div class="flex justify-end items-center">
      <div class="mr-4 w-7 h-7 rounded-full overflow-x-hidden overflow-y-hidden">
        <%= link_to users_info_path(current_user), data:{remote: true}, method: :get do %>
          <%= image_tag(current_user.avatar_url || current_user.imageurl, size:'32x32' , class:'w-full h-full') %>
        <% end %>
      </div>
      <%= link_to icons('house-user', :fas, 'lg', 'pr-5'), project_path(@project) if @project%>
      <%= link_to icons('th', :fas, 'lg', 'pr-5'), personal_path %>
      <%= link_to icons('sign-out-alt', :fas, 'lg', 'pr-5'), destroy_user_session_path, method: :delete %>
    </div>
  </div>
</nav>
