<div class="px-4 pb-3 my-2 pt-8 w-full border-t border-gray-300 flex justify-start items-start relative">
  <div class="h-10 w-10 rounded-full overflow-hidden">
      <%= image_tag(comment.user.avatar_url || comment.user.imageurl || "default_user", size:'20x20' , class:'w-full h-full') %>
  </div>
  <div class='pl-4 py-2 w-4/5'>
    <div class="text-xl font-semibold">
      <%= comment.user.nickname %>
    </div>
    <div class="text-xl py-2">
      <%= markdown(comment.content) %> 
    </div>
  </div>
  <% if comment.user = current_user %>
    <div data-controller="dropdown" >
      <button type="button" data-action="click->dropdown#toggle" class=" top-0 right-5 z-50 relative"><%= icons 'ellipsis-h', :fas, 'xs', 'dropdown-icon'%></button>
      <div data-dropdown-target="toggle" class="hidden dropdown-comment-content" 
           data-transition-enter-active="transition ease-in-out"
           data-transition-enter-from="transform translate-x-32 opacity-0 scale-x-0"
           data-transition-enter-to="transform translate-x-0 opacity-100 scale-x-100"
           data-transition-leave-active="transition ease-in-out"
           data-transition-leave-from="transform translate-x-0 opacity-100 scale-x-100"
           data-transition-leave-to="transform translate-x-32 opacity-0 scale-x-0">
        <%= link_to '刪除', project_message_comment_path(@project, @message, comment.id), method: 'delete' ,class:"dropdown-comment" ,data:{confirm: "Are you sure?"} %>
        <%= link_to '修改', edit_project_message_comment_path(@project, @message, comment.id) , class:"dropdown-comment" %>
      </div>
    </div>
  <% end %>
</div>
