<div class="container flex flex-wrap">
  <%= form_with(model:  [@project, todo_list]) do |form| %>
    <% if todo_list.errors.any? %>
        <ul>
          <% todo_list.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
    <% end %>
    <div class="flex row">

      <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>

      <div class="actions">
        <button class="px-4 font-bold text-white bg-blue-500 rounded hover:bg-blue-700">
          <%= form.submit '新增TodoList' %>
        </button>
      </div>
    </div>
  <% end %>
</div>
