<div>
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="mt-5 md:mt-0 md:col-span-3">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Todo List</h3>
      <%= form_with(model:  [@project, todo_list]) do |form| %>
        <% if todo_list.errors.any? %>
          <ul>
            <% todo_list.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        <% end %>
        <div class="shadow sm:rounded-md sm:overflow-hidden">
          <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
            <div>
              <%= form.label :title, class:"block text-sm font-medium text-gray-700"%>
              <div class="mt-1">
                <%= form.text_field :title, class:"shadow-sm focus:ring-yellow-500 focus:border-yellow-500 mt-1 block w-full h-10 sm:text-sm border border-gray-300 rounded-md", placeholder: "Add New Todo Here"%>
              </div>
            </div>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6 ">
            <%= form.submit '新增TodoList', class:"inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-yellow-600 hover:bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-300" %>
            <%= link_to 'Back', project_todo_lists_path, class:"inline-flex justify-center py-2 px-4 border border-transparent border-blue-500 shadow-sm text-sm font-medium rounded-md text-black bg-white-600 hover:bg-white-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"  %>
          </div>
        </div>
    <% end %>
    </div>
  </div>
</div>

