<div class="p-28">
  <div class="flex flex-row justify-between">
        <span class="text-4xl text-indigo-800">Todo Lists</span>
        <%= link_to '新增Todo', new_project_todo_list_path, class:"bg-yellow-400 items-center pt-2 px-4 rounded-md font-semibold" %>
  </div>
  <div class="mt-5 overflow-hidden bg-green-100 shadow">
  <div class="container grid grid-cols-3 gap-4">
  
      <ul class="divide-y divide-gray-200 todos">
        <div class="w-auto px-4 py-4">
            <div class="text-2xl text-center">Todos</div>
            <div class="flex flex-col px-4 text-2xl text-center flex-col-3" data-controller="sortable" data-sortable-status-value="a">
                <% @todo_lists.each do |todo_list| %>
                  <% if todo_list.status === 'todos' %>
                    <h5 class="mb-2 text-xl font-medium leading-tight text-yellow-600" data-id="<%= todo_list.id %>">
                      <li class="px-4 py-4 overflow-hidden bg-red-200 shadow sm:px-6 sm:rounded-md">
                        <td><%= link_to todo_list.title, project_todo_list_path(@project ,todo_list),class:'text-gray-600 text-4xl handle' %></td>
                        <% todo_list.todo_items.each do |todo_item| %>
                          <div class="card">
                              <%= todo_item.description %>
                          </div>
                        <% end %>
                      </li>
                    </h5>
                  <% end %>  
                <% end %>
            </div>
        </div>
      </ul>
      <ul id="list pending">
      <div class="w-auto px-4 py-4" >
        <div class="text-2xl text-center">Pending</div>
        <div class="flex flex-col px-4 flex-col-3" data-controller="sortable" data-sortable-status-value="b">
        <% @todo_lists.each do |todo_list| %>
                  <% if todo_list.status === 'pending' %>
                    <h5 class="mb-2 text-xl font-medium leading-tight text-yellow-600" data-id="<%= todo_list.id %>">
                      <li class="px-4 py-4 overflow-hidden bg-red-200 shadow sm:px-6 sm:rounded-md">
                        <td><%= link_to todo_list.title, project_todo_list_path(@project ,todo_list),class:'text-gray-600 text-4xl handle' %></td>
                        <% todo_list.todo_items.each do |todo_item| %>
                          <div class="">
                              <%= todo_item.description %>
                          </div>
                        <% end %>
                      </li>
                    </h5>
                  <% end %>  
                <% end %>
        </div>
      </div>
          </ul>
      <ul id="list finish">
        <div class="w-auto px-4 py-4">
        <div class="text-2xl text-center">Finish</div>
          <div class="flex flex-col px-4 flex-col-3" data-controller="sortable" data-sortable-status-value="c">
          <% @todo_lists.each do |todo_list| %>
                  <% if todo_list.status === 'finish' %>
                    <h5 class="mb-2 text-xl font-medium leading-tight text-yellow-600" data-id="<%= todo_list.id %>">
                      <li class="px-4 py-4 overflow-hidden bg-red-200 shadow sm:px-6 sm:rounded-md">
                        <td><%= link_to todo_list.title, project_todo_list_path(@project ,todo_list),class:'text-gray-600 text-4xl handle' %></td>
                        <% todo_list.todo_items.each do |todo_item| %>
                          <div class="">
                              <%= todo_item.description %>
                          </div>
                        <% end %>
                      </li>
                    </h5>
                  <% end %>  
                <% end %>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
