<div class="flex flex-col w-11/12 p-1 bg-gray-100 border-red-900">
  <div class="flex flex-row justify-between w-full h-auto">
    <div class="flex items-center col">
      <%= link_to todo_lists_path, class: 'bg-gray-500 hover:bg-blue-700 text-white font-bold py-2 px-4 pt-2 rounded' do %>
        <i class="fas fa-chevron-circle-left"></i>
      <% end %>
    </div>
    <div>
        <span class="m-0 text-4xl text-indigo-800"><%= @todo_list.title %></span>
        <p class="text-orange-700">
          <small>
            <% @todo_list.percent_complete %>Todo完成(<%= @todo_list.completed_items %>/<%= @todo_list.total_items %>)
          </small>
        </p>
    </div>
    <button class="px-4 font-bold text-white bg-blue-500 rounded hover:bg-blue-700">
      <%= link_to '修改', edit_todo_list_path(@todo_list) %>
    </button>
  </div>
  <div class="card-todos">
    <div class="relative pt-1">
      <div class="flex h-2 mb-4 overflow-hidden text-xs rounded bg-amber-200">
        <div style="width: <%= @todo_list.percent_complete %>%" class="flex flex-col justify-center text-center text-white bg-red-500 shadow-none whitespace-nowrap"></div>
        <%# <div style="width: 15%" class="flex flex-col justify-center text-center text-white bg-orange-500 shadow-none whitespace-nowrap"></div>
        <div style="width: 25%" class="flex flex-col justify-center text-center text-white shadow-none whitespace-nowrap bg-amber-500"></div> %>
      </div>
      <%= form_for([@todo_list, @todo_item]) do |form| %>
        <div class="flex items-center justify-between pb-4 input-group">
        <%#= form.fields_for :todo_items do |f| %>
          <%= form.text_field :description, class:"w-5/6",placeholder:"新增todo" %>
        <%# end %>
          <div class="pl-8 input-group-add">
          <%= form.submit '新增', class:'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %> 
          </div>
        </div>
      <% end %>
    </div>
    <div class="flex">
      <ul class="w-full list-group">
        <% @todo_list.todo_items.each do |todo_item| %>
        <% if todo_item.completed? %>
          <li class="w-full list-group-item">
            <div class="flex justify-between mb-2 bg-gray-100 border-2 border-gray-500 border-solid">
                <span class="cursor-default">
                <%= todo_item.description %></span>
                <%= link_to '#', class:'bg-red-100 border-red-400', data: { reflex: 'click->TodoItem#todo_incomplete', id: todo_item.id } do %>
                  <i class="fas fa-undo"></i>
                <% end %>
            </div>
          </li>
          <% else %>
          <li class="flex w-full list-group-item">
            <div class="flex justify-between w-full mb-2 border-2 border-gray-500 border-solid bg-rose-100">
            <div class="checkbox">
            </div>
                <span><%= todo_item.description %></span>
                <%= link_to '#', class: 'bg-gray-50', data: { reflex: 'click->TodoItem#todo_complete', id: todo_item.id } do %>
                
                  <i class="fas fa-check"></i>
                <% end %>
            </div>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>


