<section class="bg-theme-5">
  <div class="flex overflow-hidden min-h-full py-28">
    <div class="devise-container">
      <h1 class="devise-title">Log in</h1>
      <div class="px-8 pt-6">
        <%= render 'devise/shared/auth'%>
      </div>
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), html: { class: 'bg-theme-5 px-8 pt-1' }, method: :post) do |f| %>
        <%= devise_error_messages! %>
        <div class="py-2 mb-4 border-b border-gray-300"></div>
        <div class="devise-label">
          <%= f.label 'Email', class: 'font' %>
          <%= f.email_field :email, placeholder: 'Enter your email address...', class: 'field' %>
        </div>
        <%= f.submit 'Send reset link', class:'devise-fill-btn' %>
      <% end %>
      <div class="py-5 flex justify-center text-gray-500 text-sm">
        <%= link_to 'Return to sign in', new_user_session_path, class: 'px-2 underline hover:text-theme-150'%>
      </div>
    </div>
  </div>
</section>


