<%= form_with(model: [@project, schedule] , class: "contents") do |form| %>

  <div class="my-5">
    <%= form.label :title, '事件' %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>



  <div class="my-5">
    <%= form.label :start, '起始時間' %>
    <%= form.text_field :start, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", data: {controller: "flatpickr"} %>
  </div>

  <div class="my-5">
    <%= form.label :end, '結束時間' %>
    <%= form.text_field :end, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", data: {controller: "flatpickr"} %>
  </div>

  <div class="my-5">
    <%= form.label :location, '地點' %>
    <%= form.text_field :location, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :name, '狀態' %>
    <%= form.select :name, ["My Calendar", "Todos", "Finish"], class: "block w-full" %>
  </div>

  <div class="inline">
    <%= form.submit '新增', class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
