  <div class="">
    <%# feature_section_start %>
    <div class="relative mx-auto bg-gradient-to-r from-home_gray-100 to-gray-300">
      <div class="relative max-w-xl px-4 py-12 mx-auto lg:max-w-7xl ">
      <div class="relative sm:px-6 sm:py-24 sm:w-100% lg:flex lg:grid-cols-2 lg:items-center">
        <div class="container">
          <div class="lg:w-4/5 row">
              <h1 class="text-4xl font-extrabold tracking-tight text-center sm:text-5xl lg:text-6xl">
                <span class="block pb-10 text-gray-900">Base Camp</span>
                <span class="block text-gray-300">一站式專案管理系統</span>
              </h1>
              <p class="max-w-lg mx-auto mt-6 text-xl text-center text-sky-600 sm:max-w-3xl">結合專案管理中常用的工具。待辦清單、行事曆、即時訊息溝通、最新訊息布答、共享檔案與文件，可以邀請團隊成員加入TurboCamp，從深山到家庭辦公室，一起有效率的管理專案進度。</p>
              <div class="max-w-sm mx-auto mt-10">
                <%= link_to 'Get Start' , new_user_registration_path ,class:"flex items-center justify-center px-4 py-3 text-base font-medium text-indigo-700 bg-white border border-transparent rounded-md shadow-sm hover:bg-indigo-50 sm:px-8"%>
              </div>
            </div>
          </div>
          <div class="lg:w-3/4 row">
            <div class="mt-10" aria-hidden="true">
                <%= image_tag("turbocamp001" , class:" mx-auto", width:"600") %>
            </div>
          </div>
        </div>
      </div>
    </div>
        <%# section_start %>
        <div class="relative max-w-xl px-4 mx-auto sm:px-6 lg:px-8 lg:max-w-7xl">
        <div class="relative mt-12 bg-white lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
          <div class="relative">
            <h3 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">Turbocamp</h3>
            <p class="mt-3 text-lg text-gray-500">集合<strong>專案管理需要的工具</strong>，有效紀錄專案<strong>待辦事項(Todos)</strong>、團隊<strong>行事曆安排(Schedule)</strong>、團隊<strong>重要事項佈達(Message Boards)</strong>、<strong>即時團隊訊息溝通(Campfire)</strong>、<strong>雲端存取共享文件(Docs & Files)</strong></p>
          </div>
          <div class="relative mt-10 -mx-4 lg:mt-0" aria-hidden="true">
            <%= image_tag("index01" , class:"relative mx-auto", width:"600") %>
          </div>
        </div>

        <div class="relative mt-12 bg-white sm:mt-16 lg:mt-24">
          <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:gap-8 lg:items-center">
            <div class="lg:col-start-2">
              <h3 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">ToDos</h3>
              <p class="mt-3 text-lg text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ex obcaecati natus eligendi delectus, cum deleniti sunt in labore nihil quod quibusdam expedita nemo.</p>
            </div>
            <div class="relative mt-10 -mx-4 lg:mt-0 lg:col-start-1">
              <%= image_tag("index02" , class:"relative mx-auto", width:"600") %>
            </div>
          </div>
        </div>
          <%# section_start %>
          <div class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
            <div class="relative">
              <h3 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">Campfire</h3>
              <p class="mt-3 text-lg text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minima sequi recusandae, porro maiores officia assumenda aliquam laborum ab aliquid veritatis impedit odit adipisci optio iste blanditiis facere. Totam, velit.</p>
            </div>
            <div class="relative mt-10 -mx-4 lg:mt-0" aria-hidden="true">
              <%= image_tag("index03" , class:"relative mx-auto", width:"600") %>
            </div>
          <%# section_end %>
          <%# section_start %>
          <div class="relative mt-12 sm:mt-16 lg:mt-24">
            <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:gap-8 lg:items-center">
              <div class="lg:col-start-2">
                <h3 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">Manage project</h3>
                <p class="mt-3 text-lg text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ex obcaecati natus eligendi delectus, cum deleniti sunt in labore nihil quod quibusdam expedita nemo.</p>
              </div>
              <div class="relative mt-10 -mx-4 lg:mt-0 lg:col-start-1">
                <%= image_tag("index04" , class:"relative mx-auto", width:"600") %>
              </div>
            </div>
          </div>
          <%# section_end %>
        </div>
        <%# section_end %>
      </div>
    <%# feature_section_end %>
    <%# divider_start %>
    <div class="relative">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300"></div>
      </div>
    </div>
    <%# divider_end %>
    <%# CTA_section_start %>
    <div class="relative py-16 bg-white">
      <div class="absolute inset-x-0 top-0 hidden h-1/2 bg-white-50 lg:block" aria-hidden="true"></div>
      <div class="mx-auto max-w-7xl bg-write-600 lg:bg-transparent lg:px-8">
        <div class="lg:grid lg:grid-cols-12">
          <div class="relative max-w-md px-4 py-12 mx-auto space-y-6 sm:max-w-3xl sm:py-16 sm:px-6 lg:max-w-none lg:p-0 lg:col-start-4 lg:col-span-6">
            <%= image_tag("logo_a" , class:"relative mx-auto w-12 sm:max-w-full") %>
            <h2 class="text-3xl font-extrabold text-center text-black" id="join-heading">Ready to get started?</h2>
            <p class="text-lg text-black">Varius facilisi mauris sed sit. Non sed et duis dui leo, vulputate id malesuada non. Cras aliquet purus dui laoreet diam sed lacus, fames.</p>
            <button class="flex justify-center w-40 px-4 py-2 m-auto text-base font-medium text-white bg-yellow-400 border border-transparent rounded-md shadow-sm h-15 hover:bg-yellow-500"><%= link_to "Get Start", class:"text-center"%></button>
          </div>
        </div>
      </div>
    </div>
    <%# CTA_section_end %>
    <%# divider_start %>
    <div class="relative">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300"></div>
      </div>
    </div>
    <%# divider_end %>

    <%# footer_start %>
    <footer class="bg-gray-50">
      <h2 id="footer-heading" class="sr-only">Footer</h2>
      <div class="px-4 pt-16 pb-8 mx-auto max-w-7xl sm:px-6 lg:pt-24 lg:px-8">
        <div class="xl:grid xl:grid-cols-4 xl:gap-8">
          <div class="md:grid md:grid-cols-1 md:gap-8">
            <%= image_tag("turbocamp_a" , class:"relative mx-auto sm: max-w-full") %>
          </div>
          <div></div>
          <div class="md:grid md:grid-cols-3 md:gap-8">
            <div>
              <h3 class="text-sm font-semibold tracking-wider text-gray-400 uppercase">Company</h3>
              <ul role="list" class="mt-4 space-y-4">
                <li>
                  <a href="#" class="text-base text-gray-500 hover:text-gray-900"> About </a>
                </li>

                <li>
                  <a href="#" class="text-base text-gray-500 hover:text-gray-900"> Blog </a>
                </li>

                <li>
                  <a href="#" class="text-base text-gray-500 hover:text-gray-900"> Contact </a>
                </li>
              </ul>
            </div>
            <div class="mt-12 md:mt-0">
              <h3 class="text-sm font-semibold tracking-wider text-gray-400 uppercase"> Product </h3>
              <ul role="list" class="mt-4 space-y-4">
                <li>
                  <a href="#" class="text-base text-gray-500 hover:text-gray-900"> Features </a>
                </li>

                <li>
                  <a href="#" class="text-base text-gray-500 hover:text-gray-900"> Demo </a>
                </li>

              </ul>
            </div>
            <div class="mt-12 md:mt-0">
              <h3 class="text-sm font-semibold tracking-wider text-gray-400 uppercase">Legal</h3>
              <ul role="list" class="mt-4 space-y-4">
                <li>
                  <a href="#" class="text-base text-gray-500 hover:text-gray-900"> Claim </a>
                </li>

                <li>
                  <a href="#" class="text-base text-gray-500 hover:text-gray-900"> Privacy </a>
                </li>

                <li>
                  <a href="#" class="text-base text-gray-500 hover:text-gray-900"> Terms </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="flex flex-col justify-evenly">

            <button class="flex justify-center w-1/2 px-4 py-2 m-auto text-base font-medium text-white bg-yellow-400 border border-transparent rounded-md shadow-sm hover:bg-yellow-500"><%link_to "Register"%>Register</button>
            <button class="flex justify-center w-1/2 px-4 py-2 m-auto text-base font-medium text-yellow-500 bg-white border border-transparent border-yellow-100 rounded-md shadow-sm hover:bg-gray-50 hover:border-yellow-400">Log in</button>

          </div>
        </div>
        <div class="pt-8 mt-12 border-t border-gray-200 md:flex md:items-center md:justify-between lg:mt-16">
          <div class="flex space-x-6 md:order-2">
            <a href="https://github.com/TurboCamp/TurboCamp" class="text-gray-400 hover:text-gray-500">
              <span class="sr-only">GitHub</span>
              <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
              </svg>
            </a>
          </div>
          <p class="mt-8 text-base text-gray-400 md:mt-0 md:order-1">&copy; Turbocamp, Inc. 2022. We love our user!</p>
        </div>
      </div>
    </footer>
    <%# footer_end %>
  </div>


      





