<section class="px-72 h-full min-w-0 overflow-y-scroll max-h-full bg-theme-50">
  <div class="m-auto container mb-8">
    <div class="flex justify-start pt-11 pb-3 px-12">
      <div class="flex items-center px-4">
        <div class="h-32 w-32 border-4 border-gray-300 overflow-hidden rounded-full">
          <%= image_tag(@user.avatar_url || @user.imageurl , size:'32x32' , class:'w-full h-full')%>
        </div>
        <div class="font-semibold text-4xl pl-8">
          <%= @user.nickname %>
        </div>
      </div>
    </div>
  </div>
  <div class="container m-auto h-full rounded-md p-6 px-16 bg-theme-5 filter drop-shadow-xl ">
    <div class="py-4 mb-8 flex justify-between items-center">
      <div class="pb-4">
        <h3 class="font-semibold text-5xl pb-4">Projects</h3>
        <span class="font-light text-gray-500 pl-0.5">Projects you're in <%= @projects.count %> projects.</span>
      </div>
      <div class="pt-0.5 pr-0.5">
        <%= link_to icons('plus', :fas, 'xl', 'dropdown-icon'), new_project_path, data:{ remote:true } %>
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2  
                lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-5 grid-flow-row relative ">
    <% @projects.each do |project| %>
      <%= link_to project_path(project), class: 'card bg-white border-0' do  %>
        <div class="flex flex-col items-center align-middle w-full pb-4">
          <div class="w-full relative overflow-hidden filter blur-0 hover:blur-lg">
            <span class="w-full h-full absolute bottom-0 opacity-0 rounded-md text-white bg-theme-0 transition transform -translate-y-28 hover:rounded-md hover:opacity-70 hover:translate-y-0  ">
              <div class="flex flex-col p-5">
                <div class="flex flex-wrap h-1/4">
                <% project.users.each do |user| %>
                  <div class="w-10 h-10 rounded-full overflow-hidden">
                    <%= image_tag(user.avatar_url || user.imageurl , size:'40x40' , class:'w-full h-full' )%>
                  </div>
                <% end %>
                </div>
                <div class="py-4 min-h-full overflow-x-hidden">
                <%= project.description %>
                </div>
              </div>
            </span>
            <%= image_tag( project.image_url || 'logo_a_0', size: '32x32', class: 'w-full h-full bg-theme-75 rounded-md') %>
          </div>
          <h5 class="py-3  text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= project.title %></h5>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</section>
