<section class="m-auto px-0 sm:px-12 md:px-18 lg:px-64 xl:px-72  h-full w-full min-w-0 bg-theme-50 overflow-x-hidden">
  <div class="main-container">
    <div class="w-full flex items-center pt-12 pb-4 px-12">
      <div class="w-full flex flex-wrap justify-center md:justify-start items-center px-4">
        <div class="h-32 w-32 border-4 border-gray-300 overflow-hidden rounded-full">
          <%= image_tag(@user.avatar_url || @user.imageurl || "default_user", size:'16x16' , class:'w-full h-full')%>
        </div>
        <div class="flex pt-2 md:pt-0">
          <div class="font-semibold text-4xl md:pl-8">
            <%= @user.nickname %>
          </div>
          <div class="text-gray-500 pt-2 pl-6 text-5xl font-medium">
            <%= link_to icon_tag('fa-solid fa-gear fa-lg'), users_info_path(current_user), data: { remote: true } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full m-auto min-h-full rounded-md pt-6 px-10 md:px-16 bg-theme-5 filter drop-shadow-xl ">
    <div class="py-6 mb-4 flex flex-wrap justify-between items-center">
      <div class="pb-4">
        <h3 class="font-semibold text-5xl pb-4">Projects</h3>
        <span class="font-light text-gray-500 pl-0.5">Projects you're in <%= @projects.count %> projects.</span>
      </div>
      <div class="py-2 pt-4 sm:py-0 sm:pl-0 sm:pt-0.5 sm:pr-0.5">
        <%= link_to icon_tag('fa-plus fa-solid fa-xl dropdown-icon '), new_project_path, data:{ remote:true } %>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2   
                lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4 3xl:grid-cols-5 gap-5 grid-flow-row relative ">
    <% @projects.each do |project| %>
      <div class="flex flex-col items-center align-middle w-full pb-4">
        <%= link_to project_path(project), class: 'card bg-theme-5 border-0' do  %>
          <div class="w-full relative overflow-hidden filter blur-0 hover:blur-lg">
            <span class="w-full h-full absolute bottom-0 opacity-0 rounded-md text-white bg-theme-0 transition transform -translate-y-28 hover:rounded-md hover:opacity-70 hover:translate-y-0  ">
              <div class="flex flex-col p-5">
                <div class="flex items-center">
                  <% project.users.each do |user| %>
                    <div class="flex -space-x-8">
                      <div class="inline-block w-10 h-10 rounded-full overflow-hidden ring-2 ring-gray-100">
                        <%= image_tag(user.avatar_url || user.imageurl , size:'40x40' , class:'w-full h-full' )%>
                      </div>
                    </div>
                  <% end %>
                </div>
                <div class="py-4 min-h-full overflow-x-hidden">
                  <%= project.description %>
                </div>
              </div>
            </span>
            <%= image_tag( project.image_url || 'logo_a_0', size: '32x32', class: 'w-full h-full bg-theme-75 rounded-md') %>
          </div>
          <div class="py-2 px-1 w-full flex justify-between items-center">
            <p class="text-2xl font-bold text-gray-900 pt-2 dark:text-white"><%= project.title %></p>
            <%= link_to icon_tag('fa-times fa-solid text-gray-500 hover:text-theme-200'), project_path(project) , method: :delete, class: 'pt-2.5', data: { confirm: 'Are you sure delete project?' } %>
          </div>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
</section>

