<div data-controller="modal" class="bg-theme-0 bg-opacity-60 overflow-y-auto overflow-x-hidden animated fadeIn fixed inset-0 flex items-center justify-center z-50 w-full md:inset-0 md:h-full">
  <div class="relative p-4 max-h-screen w-full max-w-xl h-full md:h-auto">
    <div class="relative bg-theme-5 rounded-lg shadow dark:bg-gray-700">
      <div class="flex justify-between items-center p-5 rounded-t border-b dark:border-gray-600">
        <h3 class="text-xl font-medium text-gray-900 dark:text-white">
            Edit Project 
        </h3>
        <div>
          <button type="submit" data-action="click->modal#hide">
            <%= icon_tag('fa-times fa-solid fa-lg pr-3 text-gray-500 hover:text-theme-200') %>
          </button>
        </div>
      </div>
      <%= form_with(model: project , url:project_path(project), class:"w-full px-6 max-w-lg m-auto" , data:{ remote: true }, method: :patch) do |form| %>
        <div class="flex flex-wrap justify-center pt-6 mb-3">
          <div class="rounded-full w-40 h-40 overflow-x-hidden overflow-y-hidden mb-2">
            <%= form.label :image do %>
              <%= image_tag( project.image_url || "logo_a_0" ,data: { modal_target: "output" }, class:" hover:text-black hover:opacity-60 cursor-pointer ") %>
            <% end %>  
            <%= form.file_field :image ,class:'w-full hidden',data: {modal_target: "input", action:"change->modal#readURL" } %>
          </div>
        </div>
        <div class="w-full py-1">
          <%= form.label :title , "Project Name", class:"block normal-case tracking-wide text-gray-700 text-xs font-bold mb-2 text-lg"%>
          <%= form.text_field :title , class:"appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"%>
        </div>
        <div class="w-full py-1">
          <%= form.label :description , "Description" , class:"block normal-case tracking-wide text-gray-700 text-xs font-bold mb-2 text-lg"%>
          <%= form.text_area :description , class:"appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"%>
        </div>
        <div class="flex justify-end items-center px-5 py-8">
          <%= form.submit "Update" ,class: "theme-fill-btn mr-5 cursor-pointer"%>
          <%= link_to 'Delete Project' , project_path(project) , method: :delete, class: 'theme-fill-btn hover:bg-red-600', data:{ confirm:"Are you sure?" } %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
