<div data-controller="modal" data-action="click->modal#close" class="bg-theme-0 bg-opacity-60 overflow-y-auto overflow-x-hidden animated fadeIn fixed inset-0 flex items-center justify-center z-50 w-full md:inset-0 md:h-full">
  <div class="relative p-4 max-h-screen w-full max-w-lg h-full md:h-auto">
    <div data-modal-target="container" class="relative bg-theme-5 rounded-lg shadow dark:bg-gray-700">
      <div class="flex justify-between items-center p-5 rounded-t border-b dark:border-gray-600">
        <h3 class="text-xl font-medium text-gray-900 dark:text-white">
            New Project 
        </h3>
        <div>
          <button type="submit" data-action="click->modal#hide">
            <%= icon_tag 'fa-times fa-solid fa-lg pr-3 text-gray-500 hover:text-theme-200' %>
          </button>
        </div>
      </div>
      <div class="border-gray-400 m-auto p-8 block w-auto" , data-controller="modal">
        <%= form_with(model: project ,data:{remote:true},  class:"contents w-full max-w-lg", method: :post) do |form| %>
          <div class="flex flex-wrap justify-center mb-3">
              <div class="rounded-full w-40 h-40 overflow-x-hidden overflow-y-hidden mb-2">
                <%= form.label :image  do%>
                  <%= image_tag( @project.image_url || "logo_a_0" ,data: { modal_target: "output" } , class:"hover:text-black hover:opacity-60 cursor-pointer")%>
                <% end %>
              </div>
              <%= form.file_field :image ,class:'w-full hidden ',data: { modal_target: "input", action:"change->modal#readURL"}%>
          </div>
          <div class="w-full px-3 mb-6 md:mb-0">
            <div>
              <div class="pb-2">
                <%= form.label :title, 'Project Name', class:'tracking-wide text-gray-700 text-xs font-bold mb-4 text-lg normal-case'%>
              </div>
              <%= form.text_field :title , class:'w-full bg-gray-50 text-gray-700 border border-gray-100 rounded py-3 px-4 mb-3 leading-tight'%>
            </div>
          </div>
          <div class="w-full px-3">
            <div>
              <div class="pb-2">
                <%= form.label :description , 'Description' , class:'tracking-wide text-gray-700 text-xs font-bold mb-4 text-lg normal-case'%>
              </div>
              <%= form.text_area :description , class:'p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-100 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white', placeholder: "Your content..." %>
            </div>
          </div>
          <div class="flex justify-end mt-5 pl-1">
            <%= form.submit 'Create Project', class: 'theme-fill-btn', data: { action: 'click->modal#hide' }%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


