<nav class="fixed z-30 flex justify-between w-full h-12 shadow-lg">
    <div class="flex items-center ml-7">
        <h1><%= image_tag("logo" , class:"h-6") %></h1>
    </div>
    <div class="flex items-center gap-8 font-bold flex-nowrap">
        <%= link_to 'Home' , personal_path %>
        <%= link_to 'Line Up' , "#" %>
        <%= link_to 'Camp Fire' , "#" %>
        <%= link_to 'Schedule' , "#" %>
        <%= link_to 'Message Board' , "#" %>
    </div>
    <div>
        <%= link_to '登出' , destroy_user_session_path , method: :delete%>
    </div>
</nav>