<div class="p-28 h-full min-w-0 overflow-hidden max-h-screen">
  <div class="m-auto w-full flex justify-between">
    <h1 class="text-7xl font-semibold"><%= @project.title %></h1>
    <div class="flex items-center">
    <%= link_to 'Edit Project' , edit_project_path(@project), class: 'theme-fill-btn' %>
    </div>
  </div>
  <div class="p-8 m-auto h-5 border-t border-black"></div>
  <div class="container m-auto p-6 ">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5 grid-flow-row relative ">
      <%= link_to '#', class: 'card' do %>
        <div class="justify-between block p-4 leading-normal">
          <div class="pt-24">
          </div>
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Todos</h5>
        </div>
      <% end %>
      <%= link_to '#', class: 'card' do %>
        <div class="justify-between block p-4 leading-normal">
          <div class="pt-24"> </div>
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Schedule</h5>
        </div>
      <% end %>
      <%= link_to project_chat_room_path(@project), class: 'card' do %>
        <div class="justify-between block p-4 leading-normal">
          <div class="pt-24"> </div>
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Camfire</h5>
        </div>
      <% end %>
      <%= link_to '#', class: 'card' do %>
        <div class="justify-between block p-4 leading-normal">
          <div class="pt-24"> </div>
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Message Boards</h5>
        </div>
      <% end %>
      <%= link_to '#', class: 'card' do %>
        <div class="justify-between block p-4 leading-normal">
          <div class="pt-24"> </div>
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Docs & Files</h5>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div data-controller="modal" class="bg-theme-0 bg-opacity-60 overflow-y-auto overflow-x-hidden animated fadeIn fixed inset-0 flex items-center justify-center z-50 w-full md:inset-0 md:h-full">
  <div class="relative p-4 max-h-screen w-full max-w-lg h-full md:h-auto">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <div class="flex justify-between items-center p-5 rounded-t border-b dark:border-gray-600">
        <h3 class="text-xl font-medium text-gray-900 dark:text-white">
            Edit Project 
        </h3>
        <div>
        <%= link_to icons('times', :fas, 'lg', 'pr-3 text-gray-500 hover:text-theme-200'), project_path(@project) %>
        </div>
      </div>
      <%= form_with(model: @project , class:"w-full max-w-lg") do |form| %>
        <div>
          <div class="flex flex-wrap justify-center mb-3">
              <div class="rounded-full w-40 h-40 overflow-x-hidden overflow-y-hidden mb-2">
                <%= form.label :image do %>
                  <%= image_tag( @project.image_url || "book" ,data: { preview_target: "output" } , class:" hover:text-black hover:opacity-60 cursor-pointer ") %>
                <% end %>  
                <%= form.file_field :image ,class:'w-full hidden',data: {preview_target: "input", action:"change->preview#readURL"}%>
              </div>
        </div>
        <div class="w-full px-6 py-4">
            <div>
                <%= form.label :title , "標題"  , class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 text-lg"%>
                <%= form.text_field :title , class:"appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"%>
            </div>
        </div>
        <div class="w-full px-6 py-4">
            <div>
                <%= form.label :description , "描述" , class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 text-lg"%>
                <%= form.text_area :description , class:"appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"%>
            </div>
        </div>
        <div class="flex justify-end items-center px-5 py-4">
          <%= form.submit "更新" ,class: "theme-fill-btn  mr-5"%>
          <%= link_to '刪除專案' , project_path(@project) , method: :delete, class: 'theme-fill-btn' %>
        </div>
      <% end %>
        <div data-controller="member" class="block m-auto" data-id="<%= @project.slug %>">
          <button  data-action="click->member#join" class="px-2 theme-fill-btn">Add Member</button>
          <div id="inputbox" class="hidden px-2 " >
            <input type="text" placeholder="請輸入信箱" class="input">
            <button class="searchbtn theme-fill-btn" data-action="click->member#invite">加入成員</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
