<div class="max-h-screen">

  <div class="m-auto w-full">
    <h1 class="text-7xl justify-center m-auto font-semibold"><%= @project.title %></h1>
    <div data-controller="member" class="flex justify-between" data-id="<%= @project.slug %>">
        <%= link_to 'Edit Project' , edit_project_path(@project), class:"rounded-lg py-3 px-5 bg-yellow-400 text-white block font-medium text-base"  %>
        <button  data-action="click->member#join" class="rounded-lg py-3 px-5 bg-yellow-500 text-white block font-medium text-base">Add Member</button>
        <div id="inputbox" class=" hidden" >
            <input type="text" placeholder="請輸入信箱" class="input mt-2 mb-6 border rounded-lg text-gray-700 focus:outline-none focus:border-green-500">
            <button class="searchbtn" data-action="click->member#invite">加入成員</button>
        </div>
    </div>
    <div class="flex mt-5">
      
    </div>
    
    <div class="p-6 m-auto h-5 border-t border-black"></div>
  </div>
  <div class="container p-6 m-auto ">
    <div class="relative grid grid-flow-row grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3 ">
      <%= link_to '#', class: 'card' do %>
        <div class="justify-between block p-4 leading-normal">
          <div class="pt-24">
          </div>
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Todos</h5>
        </div>
      <% end %>
      <%= link_to '#', class: 'card' do %>
        <div class="justify-between block p-4 leading-normal">
          <div class="pt-24"> </div>
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Schedule</h5>
        </div>
      <% end %>
      <%= link_to project_chat_room_path(@project), class: 'card' do %>
        <div class="justify-between block p-4 leading-normal">
          <div class="pt-24"> </div>
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Camfire</h5>
        </div>
      <% end %>
      <%= link_to '#', class: 'card' do %>
        <div class="justify-between block p-4 leading-normal">
          <div class="pt-24"> </div>
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Message Boards</h5>
        </div>
      <% end %>
      <%= link_to '#', class: 'card' do %>
        <div class="justify-between block p-4 leading-normal">
          <div class="pt-24"> </div>
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Docs & Files</h5>
        </div>
      <% end %>
    </div>
  </div>
</div>

