<div>
<%= link_to 'CampFire' , project_chat_room_path(@project) %>
</div>
<div>
<%= link_to 'bucket' , project_buckets_path(@project)%>
</div>

<div data-controller="member" class="flex" data-id="<%= @project.slug %>">
    <button  data-action="click->member#join">Add Member</button>
    <div id="inputbox" class="hidden " >
        <input type="text" placeholder="請輸入信箱" class="input">
        <button class="searchbtn" data-action="click->member#invite">加入成員</button>
    </div>
</div>
<div>
<%= link_to 'Messages' , project_messages_path(@project)%>
</div>

<%= link_to 'Edit Project' , edit_project_path(@project)  %>
