<div class="flex justify-center m-auto" data-controller="preview">
<%= form_with(model: @user ,url:users_info_path , method: :post ) do |f| %>
  <div class="w-40 h-40 rounded-full overflow-hidden m-auto mb-6 mt-0">
    <%= image_tag(@user.avatar_url || "default_user" , data:{preview_target:"output"} , class:"w-full h-full")%>
  </div>
  <div class="mb-3">
      <%= f.label :avatar , '上傳個人頭貼' %>
      <%= f.file_field :avatar , data:{preview_target:"input", action:"change->preview#readURL"} %>
  </div>
  <div class="mb-3">
      <%= f.label :nickname , '暱稱' %>
      <%= f.text_field :nickname %>
  </div>
  <%= f.submit '更新個人資料'%>
<% end %>
</div>

