<div data-controller="cancel" class=" bg-theme-0 bg-opacity-60 overflow-y-auto overflow-x-hidden animated fadeIn fixed inset-0 flex items-center justify-center z-50 w-full md:inset-0 md:h-full" id="usermodal">
  <div class="relative p-4 max-h-screen w-full max-w-xl h-full md:h-auto">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <div class="flex justify-between items-center p-5 rounded-t border-b dark:border-gray-600">
        <h3 class="text-xl font-medium text-gray-900 dark:text-white">
          Accouont 
        </h3>
        <div >
          <button data-action="click->cancel#back"><i class="fas fa-times text-2xl"></i></button>
        </div>
      </div>
      <div class="py-12">
      <div class="flex justify-center m-auto" data-controller="preview">
<%= form_with(model: user ,url:users_info_path , method: :post, data:{remote:true} ) do |f| %>
  <div class="w-40 h-40 rounded-full overflow-hidden m-auto mb-6 mt-0">
      <%= f.label :avatar , '上傳個人頭貼' , class:"cursor-pointer relative block tracking-wide text-gray-700 text-xs font-bold mb-2 text-lg w-40 h-40" do %>
        <%= image_tag(user.avatar_url || "default_user" , data:{preview_target:"output"} , class:"w-full h-full")%>
      <% end %>
  </div>
  <div class="mb-3">
      <%= f.file_field :avatar , data:{preview_target:"input", action:"change->preview#readURL"} , class:"hidden"%>
  </div>
  <div class="mb-3">
      <%= f.label :email , '電子信箱' , class:"block tracking-wide text-gray-700 text-xs font-bold mb-2 text-lg"%>
      <%= f.email_field :email , class:"border p-1 border-gray-300 rounded-md" %>
  </div>
  <div class="mb-3">
      <%= f.label :nickname , '暱稱' , class:"block tracking-wide text-gray-700 text-xs font-bold mb-2 text-lg"%>
      <%= f.text_field :nickname , class:"border p-1 border-gray-300 rounded-md" %>
  </div>
  <%= f.submit '更新個人資料' ,class:"theme-fill-btn"%>
<% end %>
</div>
      </div>
    </div>
  </div>
</div>