<h2>更新個人資訊</h2>

<%= form_with(model: @user ,url:users_info_path , method: :post) do |f| %>
    <% if @user.avatar %>
    <div class="w-48 h-48 rounded-full overflow-x-hidden overflow-y-hidden ">
        <%= image_tag(@user.avatar_url , size:'200x200' , class:'w-full h-full') %>
   
    <% else %>
        <%= image_tag('default_user' , size:'200x200' , class:'w-full h-full')%>
    <% end %>
    </div>
    <div class="mt-10">
        <%= f.label :avatar , '上傳個人頭貼' %>
        <%= f.file_field :avatar %>
    </div>
    <div class="mt-7">
        <%= f.label :nickname , '暱稱' %>
        <%= f.text_field :nickname %>
    </div>

    <%= f.submit '更新個人資料'%>
   
<% end %>

