<div class="w-72 h-full bg-theme-50 px-1 fixed">
  <div class="py-6 px-5">
    <a href="#!">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <img src="https://fakeimg.pl/500x500/" class="w-10 rounded-full" alt="Avatar">
        </div>
        <div class="flex-grow pl-5">
          <h2 class="self-center text-xl font-semibold whitespace-nowrap"><%= @project&.title %></h2>
        </div>
      </div>
    </a>
  </div>
  <ul class="relative">
    <li class="relative ">
      <%= sidebar_link_with_icon users_info_path(current_user), :get, icons('cog', :fas, 'lg', 'pr-6','Settings') %>
    </li>
    <hr class="my-3">
    <li class="relative">
      <%= sidebar_link_with_icon project_todo_lists_path(@project), :get, icons('check-circle', :far, 'lg', 'pr-5', 'Todos') %>
    </li>
    <li class="relative">
      <%= sidebar_link_with_icon project_schedules_path(@project), :get, icons('calendar-alt', :far, 'lg', 'pr-6', 'Schedule') %>
    </li>
    <li class="relative">
      <%= sidebar_link_with_icon project_chat_room_path(@project), icons('bullhorn', :fas, 'lg', 'pr-5', 'Campfire') %>
    </li>
    <li class="relative">
      <%= sidebar_link_with_icon project_messages_path(@project), icons('comment', :far, 'lg', 'pr-6', 'Message Boards') %>
    </li>
    <li class="relative">
      <%= sidebar_link_with_icon project_bucket_path(@project), icons('cloud-upload-alt', :fas, 'lg', 'pr-4', 'Docs & Files') %>
    </li>
  </ul>
</div>
