<div class="w-64 h-full bg-theme-50 px-1 fixed">
  <div class="py-6 px-5">
    <a href="#!">
      <div class="flex items-center">
        <div class="h-14 w-14 overflow-hidden rounded-full">
          <%= image_tag(@project.image_url || "book" , class:"w-full h-full")%>
        </div>
        <div class="flex-grow pl-5">
          <h2 class="self-center text-xl font-semibold whitespace-nowrap"><%= @project&.title %></h2>
        </div>
      </div>
    </a>
  </div>
  <ul class="relative">
    <li class="relative">
      <%= sidebar_link_with_icon project_todo_lists_path(@project),  icons('check-circle', :far, 'lg', 'pr-5', 'Todos') %>
    </li>
    <li class="relative">
      <%= sidebar_link_with_icon project_schedules_path(@project),  icons('calendar-alt', :far, 'lg', 'pr-6', 'Schedule') %>
    </li>
    <li class="relative">
      <%= sidebar_link_with_icon project_chat_room_path(@project), icons('bullhorn', :fas, 'lg', 'pr-5', 'Camp Fire') %>
    </li>
    <li class="relative">
      <%= sidebar_link_with_icon project_messages_path(@project), icons('comment', :far, 'lg', 'pr-6', 'Message Boards') %>
    </li>
    <li class="relative">
      <%= sidebar_link_with_icon project_bucket_path(@project), icons('cloud-upload-alt', :fas, 'lg', 'pr-4', 'Docs & Files') %>
    </li>
  </ul>
    <div class="absolute bottom-4 inset-x-1">
        <%= link_to  edit_project_path(@project) , data:{remote:true} , class:" sidebar-link text-lg font-medium flex align-middle" do %>
        <i class="fas fa-cogs text-xl sidebar-link align-middle mr-4"></i>
        Project Edit
        <% end %>
    </div>
</div>
