<div class="w-full max-h-full h-full bg-theme-50 px-1">
  <div class="py-6 px-5">
    <div class="flex items-center">
      <div class="h-14 w-14 overflow-hidden rounded-full">
        <%= image_tag(@project.image_url || "logo_a_0" , class:"w-full h-full")%>
      </div>
      <div class="flex-grow pl-5">
        <h2 class="self-center text-xl font-semibold whitespace-nowrap"><%= @project&.title %></h2>
      </div>
      <div class="justify-end">
        <button type="button" data-action="click->toggle#close">
          <%= icon_tag('fa-solid fa-angles-left fa-lg text-gray-600 sm:invisible') %>
        </button>
      </div>
    </div>
  </div>
  <ul class="relative">
    <li class="relative">
      <% if policy(@project).update? %>
        <%= link_to icon_tag('fa-solid fa-sliders fa-lg pr-5', 'Project Edit'), edit_project_path(@project), class: 'sidebar-link', data: { remote: true } %>
      <% end %>
    </li>
    <div class="py-4 w-full">
      <hr>
    </div>
    <li class="relative <%= 'sidebar-active' if current_page?(project_todo_lists_path(@project)) %>">
      <%= sidebar_link_with_icon project_todo_lists_path(@project), icon_tag('fa-regular fa-check-circle fa-lg pr-5','Todos') %>
    </li>
    <li class="<%= 'sidebar-active' if current_page?(project_schedules_path(@project))%>">
      <%= sidebar_link_with_icon project_schedules_path(@project),  icon_tag('fa-regular fa-calendar-alt fa-lg pr-6', 'Schedule') %>
    </li>
    <li class="relative<%= 'sidebar-active' if current_page?(project_chat_room_path(@project))%>">
      <%= sidebar_link_with_icon project_chat_room_path(@project), icon_tag('fa-regular fa-comment fa-lg pr-5', 'Chatroom') %>
      <% if current_user.chat_users.find_by(chat_room_id:@project.chat_room.id).unread_count >0 %>
      <span class="absolute right-2 bottom-1/3 rounded-full bg-red-800 text-white text-md px-2 py-0"><%= current_user.chat_users.find_by(chat_room_id:@project.chat_room.id).unread_count %></span>
      <% end %> 
    </li>
    <li class="<%= 'sidebar-active' if current_page?(project_messages_path(@project))%>">
      <%= sidebar_link_with_icon project_messages_path(@project), icon_tag('fa-regular fa-chart-bar fa-lg pr-5', 'Message Boards') %>
    </li>
    <li class="<%= 'sidebar-active' if current_page?(project_bucket_path(@project))%>">
      <%= sidebar_link_with_icon project_bucket_path(@project), icon_tag('fa-solid fa-cloud-arrow-up fa-lg pr-3.5', 'Upload') %>
    </li>
  </ul>
</div>
<div class="w-full h-18 px-5 py-3 bg-theme-100">
  <div class="flex justify-between items-center">
    <div class="flex justify-start items-center">
      <div class="w-12 h-12 rounded-full overflow-hidden">
        <%= image_tag(current_user.avatar_url || current_user.imageurl || "default_user", size:'64x64') %>
      </div>
      <div class="pl-4 text-gray-500 text-xl font-medium">
        <%= current_user.nickname %>
      </div>
    </div>
    <div class="relative text-gray-500 text-xl font-medium">
      <%= link_to icon_tag('fa-solid fa-gear p-2'), users_info_path(current_user), data: { remote: true } %>
    </div>
  </div>
</div>

