<!DOCTYPE html>
<html>
  <head>
    <title>TurboCamp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'logo_outline.ico' %>
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body>
    <div class="flex justify-start">
      <div class="absolute top-0 left-0 z-50 overflow-hidden">
        <%= render 'layouts/aside'  %>
      </div>
      <div class="w-screen ml-64">
        <%= render 'layouts/navbar' %>
        <%= render "/shared/flash" if flash %>
        <section class="min-w-0 overflow-x-hidden max-h-screen">
          <%= yield %>
        </section>
      </div>
    </div>
  </body> 
</html>
