<!DOCTYPE html>
<html>
  <head>
    <title>TurboCamp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'logo_outline.ico' %>
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body >
    <section id="section">
      <div class="flex items-center" data-controller="toggle">
        <div class="sidebar-close" data-toggle-target="sidebar">
          <%= render 'layouts/aside' %>
        </div>
        <div class="main-content-container">
          <%= render 'layouts/navbar' %>
          <%= render "/shared/flash" if flash %>
          <div class="sidebar-toggle-btn">
            <button type="button" data-action="click->toggle#open">
              <%= icon_tag('fa-solid fa-bars fa-lg text-gray-600') %>
            </button>
          </div>
          <div class="flex">
            <section class="min-w-0 overflow-x-hidden flex-grow w-full h-screen">
              <%= yield %>
            </section>
            <section class="user-close" data-toggle-target="friendbar">
              <%= render 'layouts/friendbar' %>
            </section>
          </div>
        </div>
      </section>
    </section>
  </body> 
</html>
