<!DOCTYPE html>
<html>
  <head>
    <title>TurboCamp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'logo_outline.ico' %>
  </head>
  <body>
    <main class="w-screen bg-theme-5">
      <%= render 'home/navbar' %>
      <%= render "/shared/flash" if flash %>
      <%= yield %>
    </main>
  </body>
</html>
