<!DOCTYPE html>
<html>
  <head>
    <title>TurboCamp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'logo_outline.ico' %>
  </head>

  <body>
    <header>
      <%= render 'personals/navbar' %>
    </header>
    <main class="relative m-auto p-24 pt-7">
      <%= render "/shared/flash" if flash %>
      <%= yield %>
      <%= turbo_frame_tag 'modal' %>
    </main>
  </body> 
</html>
